* {
  font-family: sans-serif;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

/* .header {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
} */

#data-container-bubble {
  width: 300px;
  height: 175px;
  position: relative;
  background: black;
  margin: 0 auto;
  border: 3px black solid;
}

#data-container-quick {
  width: 300px;
  height: 175px;
  position: relative;
  background: black;
  margin: 0 auto;
  border: 3px black solid;
}

.block {
  width: 9px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: 0.1s all ease;
}

.hidden {
  display: none;
}

.page-container {
  margin: 5% 10%;
}

#resume-sidePanel {
  display: flex !important;
  flex-direction: column;
  border-right: 1px solid black;
}

.resume-skills {
  width: 80%;
}

.resume-skills td {
  width: 50%;
}

.page-container-resume {
  margin: 5% 15%;
  margin-top: 1%;
}

#info-panel-resume {
  padding: 3%;
}

#info-panel-resume hr {
  margin: 2% 0%;
}

#resume-sidePanel img {
  margin-top: 10%;
}

.pure-menu-selected>.pure-menu-link,
.pure-menu-selected>.pure-menu-link:visited {
  color: white !important;
  font-weight: bold;
}

#homePageIntro {
  position: absolute;
  top: 20%;
  left: 10%;
}

#homePageIntro>h1 {
  font-size: 120px;
}

#aboutMe {
  width: 50%;
}

#aboutMe>p {
  color: black;
  line-height: 1.2em;
  font-size: 28px;
}

/* Style the tab */
.tab {
  overflow: hidden;

  background-color: #2d3e50;
  color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #8acffc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #8acffc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.project-description {
  width: 50%;
}

.project-container {
  display: flex;
  justify-content: space-around;
  margin: 5% 0%;
}

.content-head a {
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
}

#resume-knowledge {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#resume-knowledge.rActive {
  opacity: 1;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* Style the tab */
.tabSide {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
}

/* Style the buttons that are used to open the tab content */
.tabSide button {
  display: block;
  background-color: #8acffc;
  color: white;
  padding: 22px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
}

/* Change background color of buttons on hover */
.tabSide button:hover {
  background-color: #16679c;
  color: white;
}

/* Create an active/current "tab button" class */
.tabSide button.active {
  background-color: #16679c;
}

/*blah*/
/* Style the tab content */
.tabcontentSide {
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 90%;
  border-left: none;
}

#applicationPanel {
  display: flex;
}

#Applications {
  padding: 0px !important;
}

.slideshow {
  width: 40%;
  margin-top: 1em;
}

.slideshowLong {
  width: 25%;
  margin-top: 1em;
}

.slideshowLinks {
  width: 100%;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.76);
}

iframe {
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.76);
}

.websiteImages {
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.76);
  width: 40%;
}

.websiteImages img {
  width: 100%;
  height: 100%;
}

.projectSlideshow {
  width: inherit;
}

.appSlideshowContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 5%;
}

.appFeatures {
  width: 50%;
}

.appFeatures h3 {
  margin-top: 0;
}

.appProjHeader {
  padding: 1% 3% 0% 3%;
}

.appSlideshowContainer .appStory {
  width: 50%;
  margin: 0 !important;
}

.appStory {
  margin: 0% 3% 5% 3%;
}

.knowledgeButt {
  width: 10%;
  text-align: center !important;
  text-decoration: none;
}

.PhoneBlocker {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
}

#icon-container {
  display: flex;
  justify-content: space-around;
}

.softwareIcon {
  margin: 2%;
  width: 8%;
  transition: width 0.2s ease;
}

#destroyButton {
  position: absolute;
  top: 90%;
  left: 2%;
  background: rgb(202, 60, 60) !important;
}

.pulse-red {
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(255, 0, 0, 0);
  }
}

.tabOptionsMob {
  display: none;
}

.gamesVid {
  width: 640;
  height: 360;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #2d3e50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Style the navigation menu */
.topnav {
  display: none !important;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;

  text-decoration: none;
  font-size: 17px;
  display: inline;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  padding: 6%;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
#myLinks a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4caf50;
  color: white;
}

#myLinks {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 4;
}

#myLinks a {
  color: white;
  display: block;
  background-color: #333;
  border-bottom: 1px white solid;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
  text-align: center;
  box-shadow: none;
}

#myLinks a:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 900px) {

  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    height: 65px;
    top: 0;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    display: none;
    z-index: 4;
  }

  .pure-menu-item {
    font-size: 50%;
  }

  .header {
    display: none;
  }

  .home-menu i {
    margin-left: 1em !important;
  }

  .home-menu {
    text-align: start !important;
  }

  .home-menu ul {
    float: right;
  }

  #destroyButton {
    display: none;
  }

  #icon-container {
    width: 90%;
  }

  #defaultCanvas0 {
    display: none;
  }

  #homePageIntro {
    top: 16%;
    left: 0;
  }

  #homePageIntro>h1 {
    font-size: 35px;
    line-height: 1em;
    width: 100%;
    text-align: center;
  }

  #aboutMe>p {
    width: 100% !important;
    font-size: 18px;
    padding: 0% 10%;
    text-align: center;
  }

  #aboutMe {
    width: 100% !important;
  }

  #icon-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    width: 100%;
  }

  #icon-container img {
    width: 18%;
    height: 18% !important;
  }

  .page-container-resume {
    margin: 2% 2%;
  }

  .resume-skills {
    width: 100%;
  }

  #resume-sidePanel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    border: none;
  }

  #resume-sidePanel img {
    width: 40%;
    margin-top: 0;
  }

  #contact-info-resume {
    width: 100%;
    text-align: center;
  }

  .pure-g {
    letter-spacing: 0.1em;
  }

  #resume-sidePanel i {
    display: none;
  }

  #resume-sidePanel p {
    margin: auto;
  }

  .PhoneBlocker {
    display: block !important;
  }

  .page-container-resume {
    padding: 2%;
  }

  .page-container {
    margin: 1em;
  }

  .knowledgeButt {
    width: 40%;
    margin-bottom: 6%;
  }

  #resume-sidePanel {
    display: block !important;
    padding-bottom: 0;
  }

  .home-menu i {
    padding: 0;
  }

  #resume-buttons {
    text-align: center;
  }

  .project-container {
    display: block;
    margin-bottom: 15%;
  }

  .websiteImages {
    box-shadow: none !important;
    border: 1px black solid;
    margin-top: 10%;
  }

  .project-container>div {
    width: 100%;
  }

  .knowledgeButt {
    height: 45px;
  }

  #resume-sidePanel img {
    display: block !important;
    margin: auto;
    margin-top: 1em;
  }

  .backMobile {
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .container .middle {
    opacity: 1;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    top: 0;
    left: 0;
  }

  .text {
    font-size: 12px;
    padding: 8px 16px;
  }

  .gamesVid {
    width: 100% !important;
    height: auto !important;
  }

  .content-head {
    margin-top: 3.5em !important;
  }

  .tabSide {
    display: none;
  }

  .tabOptionsMob {
    width: 100%;
    display: block;
  }

  .tablinkMob {
    flex-grow: 1;
  }

  .topnav {
    display: block;
  }

  .footWeb {
    display: none !important;
  }
}





form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #CC4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #CC4949;
}